.main {
    background-color: black;
}
.head {
    text-align: center;
    color: yellowgreen;
    font-size: 3em;
}
.txt { 
    color: rgb(131, 228, 112);
    font-size: 2em;
}
.image {
    height: "75%";
}
.b {
    background-image: url(./images/doc.jpeg);
    height: 300cm;
}